$primary-color: #00274C;
$secondary-color:#FFCB05;
$secondary-color-ver2:#c7a003;
$black: #1a1a1a;
$white: #faf9f6;
$top-margin: 10%;
$top-margin-small: 2%;
$left-margin: 15%;
$right-margin: 15%;
$bottom-margin: 2%;
$width: 70%;
$grey: #80808c;
$blue: rgba(31, 43, 153, 0.64);
$lightblue: lightblue;
$lightyellow: rgb(255, 250, 103);




